<%= form_with(model: @task, local: true ) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h3><%= @task.errors.count %> 件のエラーがあります！</h3>
      <ul>
        <% @task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="task_name">
  <%= form.label :task_name, 'Task名' %><br>
  <%= form.text_field :task_name %>
</div>
<div class="details">
  <%= form.label :details, '詳細' %><br>
  <%= form.text_field :details %>
</div>
<div class="deadline">
  <%= form.label :deadline, '終了期限' %><br>
  <%= form.date_select :deadline %>
</div>

<p><%= form.submit %></p>

<p><%= link_to "戻る", tasks_path %></p>

<% end %>
